<!DOCTYPE html>
<html lang="es">
	<head>
		 <meta charset="UTF-8">		 
		 <meta name ='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>
		 
		 <title>CATALOGO CLIENTES </title>
		 <link rel="stylesheet" href="../Style/CatalogoClientes.css">
		 <link rel="preconnect" href="https://fonts.gstatic.com">
		 <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Oswald&family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
		 <link rel="preconnect" href="https://fonts.gstatic.com">
		 <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,300&display=swap" rel="stylesheet">
		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		 <script src="https://kit.fontawesome.com/a091e77fe0.js" crossorigin="anonymous"></script>

	</head>
	<body>	
		<div class="page-home">
			<div class="head">
				<div class="logo"><h3 class="text-logo">LOGO</h3></div>
				<div class="content-btnAdmin">
					<div><p class="a"> ADMINISTRADOR </a></div>	
					<div class="btn-cerrarsesion"><a class="cerrarsesion" href="Tienda-index.html"> Cerrar Sesión </a></div>	
				</div>
			</div>

			<div class="contenedor-secciones">
				<div class="info-head-clientes">
					<div class="titulocliente"> <h1 class="palabracliente">CATALOGO CLIENTES</h1></div>
					<div class="catalogcliente">
						<div class="search-container">
							<form action="">
							  <input type="text" placeholder="BUSCAR.." name="buscar">
							  <button type="submit"><i class="fas fa-search"></i></i></button>
							</form>
						</div>						
					</div>
				</div>
				<div class="cards-clientes"> 
					<div class="CardInfoCliente">
						<div class="card">
							<div class="cardtext"><h3>Id. Cliente:</h3><p>1062557875</p></div>
							<div class="cardtext"><h3>Nombre:</h3><p>Juan</p></div>
							<div class="cardtext"><h3>Id. Orden Tr.</h3><p>252525</p></div>
							<div class="cardtext"><h3>Id Cotiz.</h3><p>0004</p></div>
						 </div>
					</div>	
					<div class="CardInfoCliente">
						<div class="card">
							<div class="cardtext"><h3>Id. Cliente:</h3><p>1062557875</p></div>
							<div class="cardtext"><h3>Nombre:</h3><p>Juan</p></div>
							<div class="cardtext"><h3>Id. Orden Tr.</h3><p>252525</p></div>
							<div class="cardtext"><h3>Id Cotiz.</h3><p>0004</p></div>
						 </div>
					</div>	
					<div class="CardInfoCliente">
						<div class="card">
							<div class="cardtext"><h3>Id. Cliente:</h3><p>1062557875</p></div>
							<div class="cardtext"><h3>Nombre:</h3><p>Juan</p></div>
							<div class="cardtext"><h3>Id. Orden Tr.</h3><p>252525</p></div>
							<div class="cardtext"><h3>Id Cotiz.</h3><p>0004</p></div>
						 </div>
					</div>	
					<div class="CardInfoCliente">
						<div class="card">
							<div class="cardtext"><h3>Id. Cliente:</h3><p>1062557875</p></div>
							<div class="cardtext"><h3>Nombre:</h3><p>Juan</p></div>
							<div class="cardtext"><h3>Id. Orden Tr.</h3><p>252525</p></div>
							<div class="cardtext"><h3>Id Cotiz.</h3><p>0004</p></div>
						 </div>
					</div>	
					<div class="CardInfoCliente">
						<div class="card">
							<div class="cardtext"><h3>Id. Cliente:</h3><p>1062557875</p></div>
							<div class="cardtext"><h3>Nombre:</h3><p>Juan</p></div>
							<div class="cardtext"><h3>Id. Orden Tr.</h3><p>252525</p></div>
							<div class="cardtext"><h3>Id Cotiz.</h3><p>0004</p></div>
						 </div>
					</div>	
					<div class="CardInfoCliente">
						<div class="card">
							<div class="cardtext"><h3>Id. Cliente:</h3><p>1062557875</p></div>
							<div class="cardtext"><h3>Nombre:</h3><p>Juan</p></div>
							<div class="cardtext"><h3>Id. Orden Tr.</h3><p>252525</p></div>
							<div class="cardtext"><h3>Id Cotiz.</h3><p>0004</p></div>
						 </div>
					</div>	
					<div class="CardInfoCliente">
						<div class="card">
							<div class="cardtext"><h3>Id. Cliente:</h3><p>1062557875</p></div>
							<div class="cardtext"><h3>Nombre:</h3><p>Juan</p></div>
							<div class="cardtext"><h3>Id. Orden Tr.</h3><p>252525</p></div>
							<div class="cardtext"><h3>Id Cotiz.</h3><p>0004</p></div>
						 </div>
					</div>					
				</div>
				
			
			</div>
 
			<div class=" footer">FOOTER</div>			
		</div>
				
	</body>
</html>