<!DOCTYPE html>
<html lang="es">
	<head>
		 <meta charset="UTF-8">		 
		 <meta name ='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>
		 
		 <title>PROVEEDORES</title>
		 <link rel="stylesheet" href="../Style/Proveedores.css">
		 <link rel="preconnect" href="https://fonts.gstatic.com">
		 <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Oswald&family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
		 <link rel="preconnect" href="https://fonts.gstatic.com">
		 <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,300&display=swap" rel="stylesheet">
		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		 <script src="https://kit.fontawesome.com/a091e77fe0.js" crossorigin="anonymous"></script>

	</head>
	<body>	
		<div class="page-home">
			<div class="head">
				<div class="logo"><h3 class="text-logo">LOGO</h3></div>
				<div class="content-btnAdmin">
					<div><p class="a"> ADMINISTRADOR </a></div>	
					<div class="btn-cerrarsesion"><a class="cerrarsesion" href="Tienda-index.html"> Cerrar Sesión </a></div>	
				</div>
			</div>

			<div class="contenedor-secciones">
				<div class="btn-Add" id="btnAddProveedor">
					<a><i class="btnAdd fas fa-user-plus"></i></a> 				
				</div> 
				<div class="info-head-clientes">
					<div class="titulocliente"> <h1 class="palabracliente">PROVEEDORES</h1></div>
					<div class="catalogcliente">
						<a href="CatalogoProveedores.html" class="p-catalogoclientes">CATALOGO PROVEEDORES <hr></a>
						
					</div>
				</div>
				<div class="cards-clientes"> 
					<div class="CardInfoCliente">
						<div class="card">
							<div class="cardtext"><h3>Id. Proveedor:</h3><p>1002557875</p></div>
							<div class="cardtext"><h3>Nombre:</h3><p>Camilo</p></div>
							<div class="cardtext"><h3>Apellido:</h3><p>Perez</p></div>
							<div class="cardtext"><h3>Telefono:</h3><p>320 751 4875</p></div>
							<div class="cardtext"><h3>Dirección:</h3><p>Cll 4 #7-12</p></div>
							<div class="cardtext"><h3>E-mail:</h3><p>camilo@gmail.com</p></div>
							<div class="btn-crudAd">
							  <a href="#"><i class="btncrud far fa-trash-alt"></i></a> 
							  <a href="#"><i class="btncrud far fa-edit"></i></a>
							</div>  
						  </div>
					</div>
					<div class="CardInfoCliente">
						<div class="card">
							<div class="cardtext"><h3>Id. Proveedor:</h3><p>1002557875</p></div>
							<div class="cardtext"><h3>Nombre:</h3><p>Camilo</p></div>
							<div class="cardtext"><h3>Apellido:</h3><p>Perez</p></div>
							<div class="cardtext"><h3>Telefono:</h3><p>320 751 4875</p></div>
							<div class="cardtext"><h3>Dirección:</h3><p>Cll 4 #7-12</p></div>
							<div class="cardtext"><h3>E-mail:</h3><p>camilo@gmail.com</p></div>
							<div class="btn-crudAd">
							  <a href="#"><i class="btncrud far fa-trash-alt"></i></a> 
							  <a href="#"><i class="btncrud far fa-edit"></i></a>
							</div>  
						  </div>
					</div>
					<div class="CardInfoCliente">
						<div class="card">
							<div class="cardtext"><h3>Id. Proveedor:</h3><p>1002557875</p></div>
							<div class="cardtext"><h3>Nombre:</h3><p>Camilo</p></div>
							<div class="cardtext"><h3>Apellido:</h3><p>Perez</p></div>
							<div class="cardtext"><h3>Telefono:</h3><p>320 751 4875</p></div>
							<div class="cardtext"><h3>Dirección:</h3><p>Cll 4 #7-12</p></div>
							<div class="cardtext"><h3>E-mail:</h3><p>camilo@gmail.com</p></div>
							<div class="btn-crudAd">
							  <a href="#"><i class="btncrud far fa-trash-alt"></i></a> 
							  <a href="#"><i class="btncrud far fa-edit"></i></a>
							</div>  
						  </div>
					</div>
					<div class="CardInfoCliente">
						<div class="card">
							<div class="cardtext"><h3>Id. Proveedor:</h3><p>1002557875</p></div>
							<div class="cardtext"><h3>Nombre:</h3><p>Camilo</p></div>
							<div class="cardtext"><h3>Apellido:</h3><p>Perez</p></div>
							<div class="cardtext"><h3>Telefono:</h3><p>320 751 4875</p></div>
							<div class="cardtext"><h3>Dirección:</h3><p>Cll 4 #7-12</p></div>
							<div class="cardtext"><h3>E-mail:</h3><p>camilo@gmail.com</p></div>
							<div class="btn-crudAd">
							  <a href="#"><i class="btncrud far fa-trash-alt"></i></a> 
							  <a href="#"><i class="btncrud far fa-edit"></i></a>
							</div>  
						  </div>
					</div>
					<div class="CardInfoCliente">
						<div class="card">
							<div class="cardtext"><h3>Id. Proveedor:</h3><p>1002557875</p></div>
							<div class="cardtext"><h3>Nombre:</h3><p>Camilo</p></div>
							<div class="cardtext"><h3>Apellido:</h3><p>Perez</p></div>
							<div class="cardtext"><h3>Telefono:</h3><p>320 751 4875</p></div>
							<div class="cardtext"><h3>Dirección:</h3><p>Cll 4 #7-12</p></div>
							<div class="cardtext"><h3>E-mail:</h3><p>camilo@gmail.com</p></div>
							<div class="btn-crudAd">
							  <a href="#"><i class="btncrud far fa-trash-alt"></i></a> 
							  <a href="#"><i class="btncrud far fa-edit"></i></a>
							</div>  
						  </div>
					</div>
					<div class="CardInfoCliente">
						<div class="card">
							<div class="cardtext"><h3>Id. Proveedor:</h3><p>1002557875</p></div>
							<div class="cardtext"><h3>Nombre:</h3><p>Camilo</p></div>
							<div class="cardtext"><h3>Apellido:</h3><p>Perez</p></div>
							<div class="cardtext"><h3>Telefono:</h3><p>320 751 4875</p></div>
							<div class="cardtext"><h3>Dirección:</h3><p>Cll 4 #7-12</p></div>
							<div class="cardtext"><h3>E-mail:</h3><p>camilo@gmail.com</p></div>
							<div class="btn-crudAd">
							  <a href="#"><i class="btncrud far fa-trash-alt"></i></a> 
							  <a href="#"><i class="btncrud far fa-edit"></i></a>
							</div>  
						  </div>
					</div>
					
				</div>
				
			
			</div>
 
			<div class=" footer">FOOTER</div>			
		</div>

		<div class="poppup-add-proveedor" id="poppupAddProveedor">
			<div class="init-add-proveedor" id="inicioAddProveedor">
				<h3>Formulario de registro proveedor</h3>
				<form action="">
					<div class="content-input">											
						<input type="text" placeholder="Identificación">
						<input type="text" placeholder="Nombre">
						<input type="text" placeholder="Apellido">
						<input type="text" placeholder="Telefono">
						<input type="text" placeholder="Dirección">
						<input type="email" placeholder="Correo electrónico">
					</div>
					<div class="btns-AddProveedor">
						<input type="button" class="button btn-submit" id="btnAccept" value="AGREGAR">				
						<input type="button" class="button btn-close" id="btnClose" value="Cerrar">
					</div>
				</form>
			</div>
		</div>
	
	<script async src="../Js/Proveedor.js"></script>	
				
	</body>
</html>