  <!DOCTYPE html>
<html lang="es">
	<head>
		 <meta charset="UTF-8">		 
		 <meta name ='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>
		 
		 <title>HOME</title>
		 <link rel="stylesheet" href="../Style/TiendaIndex.css">
		 <link rel="preconnect" href="https://fonts.gstatic.com">
		 <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Oswald&family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
		 <link rel="preconnect" href="https://fonts.gstatic.com">
		 <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,300&display=swap" rel="stylesheet">
	</head>
	<body>	
		<div class="page-home">
			<div class="head">
				<div class="logo"><h3 class="text-logo">LOGO</h3></div>
				<div class="content-btn">
					<div class="btn-ad" id="btn-ad"><a href="#"> ADMINISTRADOR </a></div>	
					<div class="btn-op" id="btn-op"><a href="#"> OPERADOR </a></div>	
				</div>
			</div>

			<div class="contenedor-secciones">
				<div class=" seccion productos">PRODUCTOS</div>
				<div class=" seccion clientes">CLIENTES</div>
				<div class=" seccion categorias">CATEGORIAS</div>
				<div class=" seccion proveedores">PROVEEDORES</div>
			</div>
			<div class=" seccion productos-abastecer">ABASTECER</div>
			<div class=" footer">FOOTER</div>


			<div class="overley-ad" id="overley-ad">
				<div class="inicio-ad" id="inicio-ad">
					<h3>Iniciar sesion administrador</h3>
					<form action="">
						<div class="content-input">
							<input type="text" placeholder="Nombre">
							<input type="text" placeholder="Contraseña">
						</div>
						<div class="botonesinicio">
							<a type="button" href="administrador.html" class="buton" id="btnacceder">ACCEDER</a>				
							<input type="button" class="button" id="btncerrar" value="Cerrar">
						</div>

					</form>


				</div>

			</div>

			<div class="overley-op" id="overley-op">
				<div class="inicio-op" id="inicio-op">
					<h3>Iniciar sesion operador</h3>
					<form action="">
						<div class="content-input">
							<input type="text" placeholder="Nombre">
							<input type="text" placeholder="Contraseña">
						</div>
						<div class="botonesinicio">
							<a type="button" href="../ViewOperador/Operador.html" class="buton" id="btnaccederOp">ACCEDER</a>				
							<input type="button" class="button" id="btncerrarOp" value="Cerrar">
						</div>
					</form>
				</div>
			</div>

		</div>
		<script src="../Js/Eventos.js"></script>
				
	</body>
</html>